<!DOCTYPE html>
<html>
<head>
<title>Welcome</title>
<style>
body {
    margin:0;
    font-family: Arial;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background: linear-gradient(45deg,#667eea,#764ba2);
    color:white;
}
.container {
    text-align:center;
}
button {
    padding:12px 25px;
    border:none;
    border-radius:8px;
    background:white;
    color:#333;
    cursor:pointer;
    font-size:16px;
}
button:hover {
    transform:scale(1.05);
}
</style>
</head>

<body>
<div class="container">
    <h1>☁️ Cloud File Upload System</h1>
    <p>Upload and manage files securely using AWS S3</p>
    <br>
    <a href="/upload-page">
        <button>Start Upload 🚀</button>
    </a>
</div>
</body>
</html>